
<div class="container">
  <div class="row">
    <div class="col-sm-12 bg-warning mt-3 mb-2">
      <h1> You are connected to {{appVersion}}  </h1>
     </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <app-account  [data]="data" (onData)="updateData($event)"></app-account>
      
    </div>
    <div class="col-sm-6">
      <app-balance    [data]="data" (onData)="updateData($event)"></app-balance>
    </div>
   
    
  </div>

  <div class="row">
    <div class="col-sm-6">
      <app-transfer></app-transfer>
    </div>
  </div>

</div>